[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh-plugins/zgen"]
	path = zsh-plugins/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "zsh-plugins/spaceship-prompt"]
	path = zsh-plugins/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
